<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tylo - Generate Password</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"></a></li>
            </ul>
        </nav>
    </header>

    <button type="button" id="generate_passwords">Generate!</button>

    <div class="password">

    </div>
</body>
</html>

<script>

    var btnGenerator = document.getElementById("generate_passwords");
    var passwords = document.getElementsByClassName('passwords');

    btnGenerator.addEventListener("click", function (e) {
        e.preventDefault();
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 5; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;

        alert(text)
    })



</script>